extends layout

block content
  h1= title
  - let restaurantsid = toShow._id
  - let restaurants_type = toShow.restaurants_type
  - let address = toShow.address
  - let rating = toShow.rating

  div.container.mt-4
    table.table.table-bordered
      tbody
        tr
          th(style='color: #007BFF;') Restaurants ID:
          td(style='color: #343a40;') #{restaurantsid}

        tr
          th(style='color: #28a745;') Restaurants Type:
          td(style='color: #343a40;') #{restaurants_type}

        tr
          th(style='color: #dc3545;') Restaurants Address:
          td(style='color: #343a40;') #{address}

        tr
          th(style='color: #ffc107;') Restaurants Rating:
          td(style='color: #343a40;') #{rating}