extends layout

block content
  h1= title
  .container-fluid
    .row
      - for (let restaurant of results)
        .col-sm-2
          h2= restaurant.restaurant_name
          p Restaurant Type: #{restaurant.restaurant_type}
          p Address: #{restaurant.address}
          p Rating: #{restaurant.rating}
  br
  h5= 'Buy'

  div(class="container-fluid")
    each restaurant,index in results
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>restaurant #{index}: #{restaurant.restaurant_type} Address:#{restaurant.address} Rating:#{restaurant.rating}
  script.
        function buy(price){
          alert('You purchased item ' + price)
        
        }
